* {
  margin: 0px;
  padding: 0px;
}
.button {
  height: 3rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.center > div {
  margin: 5px;
}
.center-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
.center1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.margin {
  margin: 5px;
}

.underline-none {
  text-decoration: none;
}
